.name{
    margin-right: 760px;
    font-size: x-large;
    font-weight: 600;
}   
.table{
    height: 550px;
    width:900px;
    margin-left:300px;
    margin-top: 40px;
    border: 1px solid goldenrod;
}
.top{
    margin-right: 650px;
    margin-top: 20px;
    text-align: start;
    width:600px;
    /* background-color:    aqua; */
    font-size: large;
}
.cus{
    margin-right: 50px;;
}
.srch{
    height: 50px;
    width:300px;
    margin-left: 600px;
    margin-top: -30px;
}
.search{
    border-bottom: 2px solid rgb(216, 213, 213);

}