.name{
    margin-right: 760px;
    font-size: x-large;
    font-weight: 600;
}   
.table{
    height: 550px;
    width:900px;
    margin-left:300px;
    margin-top: 40px;
}
.top{
    margin-right: 650px;
    margin-top: 20px;
    text-align: start;
    width:600px;
    font-size:  large;
    font-weight:400;
}
.cus{
    margin-right: 50px;
}
.bottom{
    margin-right: 650px;
    margin-top: 20px;
    text-align: start;
    width:900px;
    font-size:  large;
    font-weight:400;
    border-bottom: 2px solid rgb(216, 213, 213);
    
}
.bot{
    margin-right: 70px;
}
.srch{
    height: 50px;
    width:300px;
    margin-left: 600px;
    margin-top: -30px;
}
.search{
    border-bottom: 2px solid rgb(216, 213, 213);

}
.navbar1{
    display: flex;
    font-size:medium;
    gap: 55px;
    display: flex;
    border-bottom: 1px solid rgb(216, 213, 213);
    background-color: rgb(234, 254, 251);
    height:40px;
    width:900px;  
    /* border:1px solid black;   */
    margin-top: 20px;
  }

.head{
    text-align: start;
    font-size:medium;
    font-weight:500;
}
.head1{
    margin-right: 36px;

}