.name{
    margin-right: 850px;
    font-size: x-large;
    font-weight: 600;
}   
.table{
    height: 550px;
    width:1000px;
    margin-left:300px;
    margin-top: 40px;
    border: 1px solid goldenrod;
}
.top{
    margin-right: 650px;
    margin-top: 20px;
    gap: 50px;
}